<section id="one">
  <div class="inner">
    <h1>New Genre</h1>
    <% if user_signed_in? %>
      <%= render 'form', genre: @genre %>


    <% else %>
      <p>You don't have permission to create a genre. Please Login or go back to the homepage.</p>
    <% end %>

    <a href="<%= genres_path %>" class="button alt small">Back</a>
  </div>
</section>
