<section id="one">
  <div class="inner">
    <h1>New Song</h1>
    <% if user_signed_in? %>
      <%= render 'form', song: @song %>


    <% else %>
      <p>You don't have permission to create a song. Please Login or go back to the homepage.</p>
    <% end %>

    <a href="<%= songs_path %>" class="button alt small">Back</a>
  </div>
</section>
