<h1>New Album</h1>
<% if user_signed_in? %>
  <%= render 'form', album: @album %>

<% else %>
  <p>You don't have permission to create an album. Please Login or go back to the homepage.</p>
<% end %>

<%= link_to 'Back', albums_path %>
