<h1>Editing Playlist Calification</h1>

<%= render 'form', playlist_calification: @playlist_calification %>

<%= link_to 'Show', @playlist_calification %> |
<%= link_to 'Back', playlist_califications_path %>
