<section id="one">
  <div class="inner">
    <h1>New Playlist</h1>

    <%= render 'form', playlist: @playlist %>

    <a href="<%= playlists_path %>" class="button alt small">Back</a>
  </div>
</section>
